html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9F9F9;
    margin-bottom: 5em;
}

p {
    font-family: "Raleway";
    padding-left: 15px;
}

h2 {
    font-family: "Raleway";
}

a {
    font-family: "Raleway";
    color: #f9f9f9;
    text-decoration: none;
    text-align: center;
}

img {
    width:100%;
    max-width: 300px;
}

ul {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#37497b, #222D4C);
    text-align: center;
}

ul li {
    vertical-align: middle;
    display: inline-block;
    font-family: 'Raleway';
    float: left;
}

ul li img {
    vertical-align: middle;
    padding-left: 10px;
}

ul li a {
    line-height: 50px;
    display: inline-block;
    color: #F9F9F9;
    text-align: center;
/*    padding-top: 25px;
    padding-bottom: 25px;
    padding: 14px 16px;*/
    text-decoration: none;
    transition: 0.3s;
}

form {
    width: auto;
    margin-top: 25px;
    margin-left: 150px;
}

#reg {
    background-color: white;
    border: solid 0.5em #222D4C;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 4em 1em 4em;
    width: 35em;
}

#login input[type=text] {
    background-color: white;
    color: #242228;
}

#login input[type=password] {
    
}

#reg input[type=text] {
    font-family: 'Raleway';
    color: #242228;
    background-color: #F9F9F9;
    border: 1px solid black;
}

#reg imput[type=password] {
    background-color: #F9F9F9;
    border: 1px solid black;
}

#reg label {
    display: inline-block;
    text-align: left;
    width: 14em;
}

input[type=text] {
    padding:8px 15px;
    font-family: 'Raleway';
    color: #F9F9F9;
    background:rgba(50, 50, 50, 0);
    border:0px solid #dbdbdb;
    border-bottom-width: 1px;    
}

input[type=text]:focus {
    border:0px solid #dbdbdb;
    border-bottom-width: 1px;    
}

input[type=submit] {
    position:relative;
    padding:6px 15px;
    left:5px;
    border:2px solid #F9F9F9;
    background-color:#F9F9F9;
    color:#242228;
    font-family: 'Raleway';
    font-weight: bold;
}

input[type=submit]:hover  {
    border:2px solid #fafafa;
    background-color:#fafafa;
    color:#69B578;
}

select {
    background-color: #222D4C;
    color:#F9F9F9;
    font-family: Raleway;
    border: 0;
    line-height: 1;
}

/* Thanks to http://www.responsivegridsystem.com/calculator/ for the multi-column layout */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

.product {
    width: 900px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product img {
    float: left;
    margin-right: 15px;
    border-color: #222D4C;
    border: 4px solid;
    /*outline: #222D4C solid;*/
}

.product p {
    padding-left: 15px;
}

footer {
    background-color: #222D4C;
    text-align: center;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    padding-top: 15px;
    padding-bottom: 15px;
}