html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9F9F9;
}

p {
    font-family: "Comic Neue";
    padding-left: 15px;
}

a {
    font-family: "Raleway";
    color: #f9f9f9;
    text-decoration: none;
}

a:visited {
    font-family: "Raleway";
    color: #f9f9f9;
    text-decoration: none;
}

ul {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#37497b, #222D4C);
    text-align: center;
}

ul li {
    vertical-align: middle;
    display: inline-block;
    font-family: 'Raleway';
    float: left;
}

ul li img {
    vertical-align: middle;
    padding-left: 10px;
}

ul li a {
    line-height: 50px;
    display: inline-block;
    color: #F9F9F9;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

form {
    /*width: auto;*/
/*    margin-top: 25px;
    margin-left: 100px;*/
    font-family: 'Raleway';
    padding-top: 200px;
    text-align: center;
}

input[type=text] {
    /*padding:8px 15px;*/
    font-family: 'Raleway';
    font-size: 24px;
    color: #242228;
    background:rgba(50, 50, 50, 0);
    border:0px solid #dbdbdb;
    border-bottom-width: 1px;    
}

input[type=submit] {
    position:relative;
    /*padding:6px 15px;*/
    left:5px;
    border:2px solid #222D4C;
    background-color:#222D4C;
    color:#F9F9F9;
    font-family: 'Raleway';
    /*font-weight: bold;*/
}

input[type=submit]:hover  {
    background-color:#101523;
    border:2px solid #101523;
    color:#F9F9F9;
}

select {
    background-color: #222D4C;
    color:#F9F9F9;
    font-family: Raleway;
    border: 0;
    line-height: 1;
}

footer {
    background-color: #222D4C;
    text-align: center;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding-top: 15px;
    padding-bottom: 15px;
}